/*Landing Page*/
.header-color {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background-image: url(./components/image/office.png);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
}

.banner-text {
  background-color: #0b5872;
  opacity: 0.8;
  width: 75%;
  margin-top: 340px;
  margin-left: 160px;
  border: 10px;
  border-radius: 10px;
}
.banner-text h1 {
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}
/*Ptoject Page*/
.projects-grid {
  display: flex;
}
